<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <title>学生情報登録画面</title>
</head>
<body>
<div class="container">
    <h1>学生情報登録画面</h1>
    <ul th:if="${errorList}" th:each="error : ${errorList}">
        <li style="color: red;" th:text="${error}"></li>
    </ul>
    <form th:action="@{/A003/init}" method="post" th:object="${A002Request}">
        <div>
            <label name="name">氏名</label><br>
            <input type="text" name="name" id="name" th:field="*{name}">
        </div>
        <div>
            <label>Email</label><br>
            <input type="email" name="email" id="email" th:field="*{email}">
        </div>
        <div>
            <label>電話番号</label><br>
            <input type="number" name="phone" id="phone" th:field="*{phone}">
        </div>
        <div>
            <label>住所</label><br>
            <input type="text" name="address" id="address" th:field="*{address}">
        </div>
        <div>
            <label>生年月日</label><br>
            <input type="date" name="dateOfBirth" id="dateOfBirth" th:field="*{dateOfBirth}">
        </div>
        <div><label>性別</label><br>
            <input id="radio-a" type="radio" name="gender" value="1" th:field="*{gender}"><label
                    for="radio-a">男</label><br>
            <input id="radio-b" type="radio" name="gender" value="2" th:field="*{gender}"><label
                    for="radio-b">女</label><br>
        </div>
        <input type="submit" value="次へ">
    </form>
    <form th:action="@{/A001/top}" method="get">
        <input type="submit" value="一覧画面へ戻る">
    </form>
</div>
</body>
</html>